



 .overlay {
  fill: none;
  pointer-events: all;
}


body {
  background: #293a46;
  /* color: #cfd2da; */
}

.h1 {
  display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}

.h1-header{
  text-align: center
}


.overview {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-width: 1px 0px 0px;
    border-image: initial;
    border-bottom: 1px solid rgb(67, 72, 87);
    padding-bottom: 10px;
}


.bitcoin-img {
  padding: 20px;
  margin: 10px;
  height: 150px;
  width: 200px;
}
.header-title {
  margin: 10px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}




/*  Current */

/*  3 major headers*/

.currentPriceDiv, .bitcoinNews-div, .allNews-div {
  width: 33%
}
.current-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#currentPriceDiv{
  display: flex;
  color: white;
  flex-direction: column;
  flex: 1;
  padding-left: 30px;
  font-size: 16px;
}

h4 {
  padding-bottom: 20px;
}

.allcurrent-cont {
  padding-bottom: 10px;
}
.allcurrent-cont * {
  padding-bottom: 5px;
}

.nowTime-cont {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nowTime-cont, .bitCoinPrice-div,  .bitCoinTimeDate{
  letter-spacing: 0.05em;
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  border-radius: 40px;
  color: #ffd700;
  background: #293a46;
  box-shadow: none;
}

.now {
  color: steelblue;
}


.current-add-info {
  list-style: none;
  color: green;
  font-size: 18px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  color: #ffd700;
}

.currentBitLi {
  letter-spacing: 0.05em;
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  border-radius: 40px;
  color: #ffd700;
  background: #293a46;
  box-shadow: none;
}

.currentBitLi strong {
  color: steelblue;
}


/*  Current News  */



.bitCoinNews-div, .allNews-div {
  color: white;
  padding: 5px;
}
.bitCoinNews , .allBusinessNews{
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: #367588;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;

}

.bitcoinNews-li, .currentNews-li {
  color: #367588;
  list-style: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.bitcoinNews-info-div , .currentNews-info-div {
  padding-left: 10px;
}

.bitcoinNews-info-div * {
  padding-bottom: 2.5px;
}
.currentNews-info-div * {
    padding-bottom: 2.5px;
}

.bitcoinNews-info-div a, .currentNews-info-div  a  {
  color: #ffd700;
}

.nowTime-div * {
  padding: 5px;
}


.bitCoinPrice-div, .bitCoinTimeDate, .nowTime-div {
  display: flex;
  align-items: center;
}




#bitcoin-d3{
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
}
.chart-label {
  color: white;
  margin-bottom: -50px;
  text-align: center;
  z-index: 1;
}




.tick {
  stroke: steelblue;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 50px
}

.div-buttons * {
  height: 34px;
    padding: 0 20px;
    line-height: 13px;
    color: blue;
    border: 1px solid #202121;
    border-radius: 36px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    cursor: pointer;

}

.main-svg {
  padding-left: 20px;
  stroke: steelblue;
}

.yAxisRed line {
  stroke: steelblue;
}

.xAxisRed line {
  stroke: steelblue;
}




/* historical news */






.historical-news-main {
  display: flex;
}
