



 .overlay {
  fill: none;
  pointer-events: all;
}


.h1 {
  display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}

.h1-header{
  text-align: center
}



.bitcoin-img {
  padding: 20px;
  margin: 10px;
  height: 150px;
  width: 200px;
}
.header-title {
  margin: 10px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}



/*  Current */
.current-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#currentPriceDiv{
  display: flex;
  justify-content: space-around;
  color: white;
  flex-direction: column;
  flex: 1;
}

.nowTime, .bitCoinPrice,  .bitCoinTime{
  letter-spacing: 0.05em;
  /* font-size: 80px; */
  padding: 5px 0;
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  /* border: red; */
  border-radius: 40px;
  /* border-width: 25px; */
  color: #e4e461d4;
  background: #4db797;
  box-shadow: none;
  text-align: center;
  margin: 10px;
  padding: 5px;

}


.current-add-info {
  list-style: none;
  color: green;
  font-size: 18px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  color: #DAA520;
}

.currentBitLi {
  padding: 0px;
  font-size: 14px;
}

.currentBitLi strong {
  color: #4db797;
}



.allcurrentNews {
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.allcurrentNews {
  padding: 5px;
}

.bitCoinNews-div, .allNews-div {
  color: white;
}

.bitcoinNews-info-div 

.bitcoinNews-li, .currentNews-li {
  color: white;
  list-style: none;
  font-size: 12px;
  display: flex;
  align-items: center;
}



/* bitcoin major chart */

#bitcoin-d3{
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  background: black;
  flex-direction: column;
}
.chart-label {
  color: white;
  margin-bottom: -50px;
  text-align: center;
  z-index: 1;
}




.tick {
  stroke: steelblue;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 50px
}

.div-buttons * {
  height: 34px;
    padding: 0 20px;
    line-height: 13px;
    color: blue;
    border: 1px solid #202121;
    border-radius: 36px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    cursor: pointer;

}

.main-svg {
  padding-left: 20px;
  stroke: steelblue;
}

.yAxisRed line {
  stroke: steelblue;
}

.xAxisRed line {
  stroke: steelblue;
}
